@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

a:hover {
  @apply underline;
}

* {
  @apply font-poppins;
}

@layer base {
  .nav-link {
    @apply py-2 block text-[#252525] text-sm font-light hover:text-[#000] hover:underline md:px-[11px] md:py-0;
  }

  .nav-active-link {
    @apply font-medium text-[#1353FF] hover:text-[#3a6eff];
  }
}

@keyframes left-right {
  0%,
  100% {
    @apply translate-x-0;
  }
  25% {
    transform: translateX(50%);
  }

  75% {
    transform: translateX(-50%);
  }
}
